@keyframes typing {
    from {
        width: 0; /* Start with no width (invisible text) */
    }
    to {
        width: 100%; /* Gradually reveal the entire text */
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent; /* Invisible cursor */
    }
    50% {
        border-color: #ffffff; /* Visible cursor */
    }
}

.home__wrap {
    position: relative;
    overflow: hidden;

    .home__mask {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(0, 0, 0);
        opacity: 0.7;
    }
    .home__bg {
        background-image: url("media/background.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center 0px;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .home__content {
        position: relative;
        display: flex;
        text-align: center;
        z-index: 2;
        min-height: 100vh;
        padding: 4.5rem 0;
        overflow: hidden;
        color: var(--color-headings);

        .home__content__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            width: 50%;

            .tx--2 {
                font-size: 2rem;
                font-weight: 500;
                margin: 0 0 1.6rem 0;
            }
            .tx--1 {
                font-size: 2rem;
                font-weight: 600;
                margin: 0 0 1.6rem 0;
            }
            .tx--3 {
                font-size: 1.4rem;
                margin: 0 0 2.2rem 0;
            }

            @media screen and (min-width: 1024px) {
                .tx--2 {
                    font-size: 2.5rem;
                }
                .tx--1 {
                    font-size: calc(2rem + 2.5vw);
                }
                .tx--3 {
                    font-size: 2rem;
                }
            }
        }
    }
}
