:root {
  --color-headings: rgb(243, 243, 243);
  --color-primary: rgb(70, 202, 151);
  --color-secondary: rgb(187, 0, 0);
  --color-background: rgba(245, 242, 234, 0.671);
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.section {
  padding: 4.5rem 0;
  overflow: hidden;
  &:nth-of-type(odd){
    background-color: var(--color-background);
  }
}

@import "./navigation.scss";
@import "./btn.scss";
@import "./home.scss";
@import "./about.scss";
@import "./services.scss";
