.navigation {
  position: sticky;
  top: 0;
  z-index: 2;
}
.navigation .nav {
  position: relative;
  display: flex;
  flex-direction: row;
  background: rgb(0, 0, 0);
  flex-wrap: wrap;
  align-items: center;
  padding: 1.2rem 1.5rem;
}
.navigation .nav .nav__portrait {
  display: none;
}
.navigation .nav .nav__logo {
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(216, 216, 216);
  font-weight: 600;
}
.navigation .nav .menu__icon {
  font-size: 3rem;
  color: rgb(238, 238, 238);
  margin-right: 2rem;
  margin-left: auto;
}
.navigation .nav .menu__icon:hover {
  color: rgb(192, 192, 192);
}
.navigation .nav .nav__toggler {
  opacity: 0.9;
}
.navigation .nav .nav__list {
  width: 100%;
  padding-left: 0;
  margin: 0;
}
.navigation .nav .nav__items {
  padding: 0.8rem 0;
  border-bottom: 1px solid #222;
}
.navigation .nav .nav__items .active {
  color: var(--color-primary);
}
.navigation .nav .nav__items:first-child {
  padding-top: 2.5rem;
}
.navigation .nav .nav__items:last-child {
  border: none;
  padding-bottom: 1.5rem;
}
.navigation .nav .nav__items > a {
  color: rgb(218, 218, 218);
  text-decoration: none;
  font-size: 1.7rem;
  transition: color 0.5s;
}
.navigation .nav .nav__items > a:hover {
  color: var(--color-primary);
}
.navigation .nav .social__icons {
  position: absolute;
  font-size: 2rem;
  color: black;
  opacity: 0.8;
  right: 9rem;
  top: 1.5rem;
  color: rgb(231, 231, 231);
}
@media screen and (max-width: 576px) {
  .navigation .nav .social__icons {
    display: none;
  }
}
.navigation .nav .social__icons .bi {
  padding: 0 0.7rem;
}
.navigation .nav .social__icons .bi-facebook:hover {
  color: rgb(66, 103, 178);
}
.navigation .nav .social__icons .bi-twitter:hover {
  color: rgb(29, 161, 242);
}
.navigation .nav .social__icons .bi-linkedin:hover {
  color: rgb(14, 118, 168);
}
.navigation .nav .social__icons .bi-instagram:hover {
  color: rgb(138, 58, 185);
}

@media screen and (min-width: 1024px) {
  .content {
    display: flex;
    justify-content: flex-end;
  }
  .content .navigation {
    width: 23%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .content .navigation .nav {
    flex-direction: column;
    height: 100vh;
  }
  .content .navigation .nav .social__icons {
    bottom: 5rem;
    right: auto;
    top: auto;
  }
  .content .navigation .nav .nav__toggler {
    display: none;
  }
  .content .navigation .nav .nav__portrait {
    margin: 2rem 0 1rem 0;
    height: 18rem;
    width: auto;
    border: 9px solid rgb(43, 43, 43);
    border-radius: 50%;
    display: inline-block;
  }
  .content .navigation .nav .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    line-height: 1.3;
  }
  .content .navigation .nav .nav__items {
    border: none;
  }
  .content .body {
    width: 77%;
  }
  .content .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.btn {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}
.btn:hover {
  background: var(--color-primary);
  color: #fff;
  text-shadow: none;
}

.btn--primary {
  padding: 1.2rem 3rem;
  font-weight: 500;
  border-width: 2px;
  color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 50rem;
  margin-top: 0.5rem;
  box-shadow: none;
  max-width: 300px;
}

.btn--secondary {
  background-color: var(--color-primary);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 1.2rem 3rem;
  color: white;
  border-radius: 50rem;
  font-weight: 500;
}
.btn--secondary:hover {
  background-color: rgb(59, 177, 132);
}

@keyframes typing {
  from {
    width: 0; /* Start with no width (invisible text) */
  }
  to {
    width: 100%; /* Gradually reveal the entire text */
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent; /* Invisible cursor */
  }
  50% {
    border-color: #ffffff; /* Visible cursor */
  }
}
.home__wrap {
  position: relative;
  overflow: hidden;
}
.home__wrap .home__mask {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
}
.home__wrap .home__bg {
  background-image: url("media/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 0px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home__wrap .home__content {
  position: relative;
  display: flex;
  text-align: center;
  z-index: 2;
  min-height: 100vh;
  padding: 4.5rem 0;
  overflow: hidden;
  color: var(--color-headings);
}
.home__wrap .home__content .home__content__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
}
.home__wrap .home__content .home__content__container .tx--2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 1.6rem 0;
}
.home__wrap .home__content .home__content__container .tx--1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 1.6rem 0;
}
.home__wrap .home__content .home__content__container .tx--3 {
  font-size: 1.4rem;
  margin: 0 0 2.2rem 0;
}
@media screen and (min-width: 1024px) {
  .home__wrap .home__content .home__content__container .tx--2 {
    font-size: 2.5rem;
  }
  .home__wrap .home__content .home__content__container .tx--1 {
    font-size: calc(2rem + 2.5vw);
  }
  .home__wrap .home__content .home__content__container .tx--3 {
    font-size: 2rem;
  }
}

.about__wrap {
  margin: 0 5vw;
  padding: 0 3.5vw;
}
@media screen and (min-width: 1024px) {
  .about__wrap {
    margin: 0;
  }
}
.about__wrap .text--primary {
  color: var(--color-primary);
}
.about__wrap .emailLink {
  cursor: pointer;
}
.about__wrap .about__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}
.about__wrap .about__header .text--bg {
  color: rgb(226, 226, 226);
  opacity: 0.4;
  font-weight: 600;
  line-height: 1.3;
  font-size: calc(2rem + 9vw);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .about__wrap .about__header .text--bg {
    font-size: 10rem;
  }
}
.about__wrap .about__header .text--title {
  font-weight: 600;
  font-size: calc(2.2rem + 1vw);
  color: black;
  line-height: 1.5;
  position: absolute;
  width: 100%;
}
.about__wrap .about__header .separator__line {
  border-bottom: 1px solid gray;
  border-color: var(--color-primary);
  width: 8rem;
  margin-right: auto;
  margin-left: auto;
  border-width: 3px;
  display: block;
}
.about__wrap .about__content {
  color: rgb(22, 22, 22);
  display: flex;
  flex-wrap: wrap;
}
.about__wrap .about__content .content--primary {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .about__wrap .about__content .content--primary {
    text-align: left;
    width: 67%;
    padding-right: 2rem;
    box-sizing: border-box;
  }
}
.about__wrap .about__content .content--primary .content--title {
  font-weight: 600;
  font-size: calc(1.3rem + 1vw);
  margin-bottom: 1rem;
}
.about__wrap .about__content .content--primary p {
  font-size: 1.6rem;
  line-height: 1.5;
}
.about__wrap .about__content .content--secondary {
  font-size: 1.6rem;
  margin-top: 3rem;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .about__wrap .about__content .content--secondary {
    text-align: left;
    width: 33%;
    padding-left: 1rem;
    box-sizing: border-box;
    margin-top: 1.5rem;
  }
}
.about__wrap .about__content .content--secondary .content__list {
  list-style: none;
  padding: 0;
  margin: 0 0 1.5rem 0;
}
.about__wrap .about__content .content--secondary .content__list li {
  border-bottom: 1px solid rgba(228, 222, 212, 0.712);
  padding: 1.5rem 0;
}
.about__wrap .about__content .content--secondary .content__list li:last-of-type {
  border: none;
}
.about__wrap .content--tertiary {
  margin-top: 3rem;
}
.about__wrap .content--tertiary .content__row {
  display: flex;
  flex-wrap: nowrap;
}
.about__wrap .content--tertiary .content__row .brands {
  padding: 2rem 0;
  width: 33.3333333333%;
  max-width: 100%;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
}
.about__wrap .content--tertiary .content__row .brands:nth-child(2) {
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
}
.about__wrap .content--tertiary .content__row .brands:nth-child(3) {
  border-right: 1px dotted gray;
}
.about__wrap .content--tertiary .content__row .brands .counter {
  font-weight: 500;
  line-height: 1.3;
  font-size: calc(1.5rem + 2vw);
  color: rgb(51, 51, 51);
  display: block;
}
.about__wrap .content--tertiary .content__row .brands .desc {
  font-size: calc(1rem + 0.5vw);
}

.services__wrap {
  position: relative;
  margin: 0 5vw;
  padding: 0 3.5vw;
}
@media screen and (min-width: 1024px) {
  .services__wrap {
    margin: 0;
  }
}
.services__wrap .services__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  text-align: center;
}
.services__wrap .services__header .text--bg {
  color: rgb(226, 226, 226);
  opacity: 0.4;
  font-weight: 600;
  line-height: 1.3;
  font-size: calc(2rem + 9vw);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .services__wrap .services__header .text--bg {
    font-size: 10rem;
  }
}
.services__wrap .services__header .text--title {
  font-weight: 600;
  font-size: calc(2.2rem + 1vw);
  color: black;
  line-height: 1.5;
  position: absolute;
  width: 100%;
}
.services__wrap .services__header .separator__line {
  border-bottom: 1px solid gray;
  border-color: var(--color-primary);
  width: 8rem;
  margin-right: auto;
  margin-left: auto;
  border-width: 3px;
  display: block;
}
.services__wrap .services__content {
  display: flex;
  flex-wrap: wrap;
}
.services__wrap .services__content .skills {
  display: flex;
  width: 50%;
  padding-right: 2rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 756px) {
  .services__wrap .services__content .skills {
    width: 100%;
    padding: 0;
  }
}
.services__wrap .services__content .skills .skills__image {
  padding-top: 2rem;
}
.services__wrap .services__content .skills .bi {
  font-size: 3rem;
  padding: 2rem;
  border: 0px solid transparent;
  box-shadow: 0.6px 1.5px 0.5rem rgb(226, 226, 226);
  border-radius: 10%;
  color: var(--color-primary);
  background: rgba(255, 255, 255, 0.959);
}
.services__wrap .services__content .skills .skills__body {
  margin: 0 2rem;
}
.services__wrap .services__content .skills .skills__body .skills__title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.services__wrap .services__content .skills .skills__body .skills__desc {
  font-size: 1.5rem;
  line-height: 1.3;
  color: rgb(85, 85, 85);
  margin: 0;
}

.contact__wrap {
  position: relative;
  margin: 0 5vw;
  padding: 0 3.5vw;
}
@media screen and (min-width: 1024px) {
  .contact__wrap {
    margin: 0;
  }
}
.contact__wrap .contact__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
  text-align: center;
}
.contact__wrap .contact__header .text--bg {
  color: rgb(226, 226, 226);
  opacity: 0.4;
  font-weight: 600;
  line-height: 1.3;
  font-size: calc(2rem + 9vw);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .contact__wrap .contact__header .text--bg {
    font-size: 10rem;
  }
}
.contact__wrap .contact__header .text--title {
  font-weight: 600;
  font-size: calc(2.2rem + 1vw);
  color: black;
  line-height: 1.5;
  position: absolute;
  width: 100%;
}
.contact__wrap .contact__header .separator__line {
  border-bottom: 1px solid gray;
  border-color: var(--color-primary);
  width: 8rem;
  margin-right: auto;
  margin-left: auto;
  border-width: 3px;
  display: block;
}
.contact__wrap .contact__content {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.contact__wrap .contact__content .contact__title {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
  text-transform: uppercase;
}
.contact__wrap .contact__content .contact__address {
  text-align: center;
  padding: 0 1rem;
  width: 100%;
  order: 1;
}
@media screen and (min-width: 756px) {
  .contact__wrap .contact__content .contact__address {
    width: 35%;
    text-align: left;
    order: 0;
  }
}
.contact__wrap .contact__content .contact__address .contact__desc,
.contact__wrap .contact__content .contact__address .contact__methods {
  font-size: 1.7rem;
  line-height: 1.5;
  margin: 1.5rem 0;
}
.contact__wrap .contact__content .contact__address .bi-phone,
.contact__wrap .contact__content .contact__address .bi-envelope {
  font-size: 2rem;
  color: var(--color-primary);
  padding-right: 0.5rem;
}
.contact__wrap .contact__content .contact__address .social__icons {
  font-size: 2rem;
}
.contact__wrap .contact__content .contact__address .social__icons .bi {
  padding: 0 1rem;
}
.contact__wrap .contact__content .contact__address .social__icons .bi-facebook:hover {
  color: rgb(66, 103, 178);
}
.contact__wrap .contact__content .contact__address .social__icons .bi-twitter:hover {
  color: rgb(29, 161, 242);
}
.contact__wrap .contact__content .contact__address .social__icons .bi-linkedin:hover {
  color: rgb(14, 118, 168);
}
.contact__wrap .contact__content .contact__address .social__icons .bi-instagram:hover {
  color: rgb(138, 58, 185);
}
.contact__wrap .contact__content .contact__message {
  text-align: center;
  width: 100%;
  order: 0;
}
@media screen and (min-width: 756px) {
  .contact__wrap .contact__content .contact__message {
    width: 65%;
    text-align: left;
    order: 1;
    padding-left: 2rem;
  }
}
.contact__wrap .contact__content .contact__message .form {
  display: flex;
  flex-wrap: wrap;
}
.contact__wrap .contact__content .contact__message .form .form-control {
  font-size: 1.5rem;
  width: 100%;
  padding: 2rem;
  margin: 1rem 1rem;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}
.contact__wrap .contact__content .contact__message .form .form-control:focus {
  border-color: rgba(119, 187, 255, 0.753);
  box-shadow: 0 0 5px rgba(226, 226, 226, 0.466);
}
.contact__wrap .contact__content .contact__message .button__submit {
  text-align: center;
  margin-top: 2rem;
}

#footer {
  padding: 4rem 0;
}
#footer .text--primary {
  text-decoration: none;
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
}
#footer .text--primary:hover {
  color: rgb(59, 177, 132);
}
#footer .footer__wrap {
  margin: 0 10vw;
}
#footer .footer__wrap .row {
  display: flex;
  flex-wrap: wrap;
}
#footer .footer__wrap .row .copyright {
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.8;
  font-size: 1.7rem;
}
#footer .footer__wrap .row .terms {
  width: 100%;
  font-size: 1.5rem;
}
#footer .footer__wrap .row .terms .terms__list {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}
#footer .footer__wrap .row .terms .terms__list .list__items {
  padding: 0 1rem;
  transition: all 0.3s ease-in-out;
}
#footer .footer__wrap .row .terms .terms__list .list__items:hover {
  color: var(--color-primary);
}
#footer .footer__wrap .row .terms .terms__list .list__items:first-of-type {
  border-right: 1px solid rgb(187, 187, 187);
}

.experience__wrap {
  position: relative;
  margin: 0 5vw;
  padding: 0 3.5vw;
}
@media screen and (min-width: 1024px) {
  .experience__wrap {
    margin: 0;
  }
}
.experience__wrap .experience__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
  text-align: center;
}
.experience__wrap .experience__header .text--bg {
  color: rgb(226, 226, 226);
  opacity: 0.4;
  font-weight: 600;
  line-height: 1.3;
  font-size: calc(2rem + 7vw);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .experience__wrap .experience__header .text--bg {
    font-size: 10rem;
  }
}
.experience__wrap .experience__header .text--title {
  font-weight: 600;
  font-size: calc(2.2rem + 1vw);
  color: black;
  line-height: 1.5;
  position: absolute;
  width: 100%;
}
.experience__wrap .experience__header .separator__line {
  border-bottom: 1px solid gray;
  border-color: var(--color-primary);
  width: 8rem;
  margin-right: auto;
  margin-left: auto;
  border-width: 3px;
  display: block;
}
.experience__wrap .experience__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.experience__wrap .experience__content .experience__sections {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .experience__wrap .experience__content .experience__sections {
    width: 50%;
  }
}
.experience__wrap .experience__content .experience__sections .experience__icon {
  text-align: center;
  font-size: 3rem;
}
.experience__wrap .experience__content .experience__sections .experience__boxes {
  margin: 1rem;
  padding: 3rem 3.5rem;
  border: 0.8px solid #d3d3d3;
  border-radius: 2px;
  height: auto;
  box-shadow: 0;
  transition: box-shadow 0.3s ease-in-out;
}
.experience__wrap .experience__content .experience__sections .experience__boxes .experience__location {
  font-size: 1.9rem;
}
.experience__wrap .experience__content .experience__sections .experience__boxes .experience__title {
  font-size: 1.5rem;
}
.experience__wrap .experience__content .experience__sections .experience__boxes .experience__details {
  font-size: 1.3rem;
  color: #707070;
}
.experience__wrap .experience__content .experience__sections .experience__boxes .experience__period {
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .experience__wrap .experience__content .experience__sections .experience__boxes {
    height: 27rem;
  }
}
.experience__wrap .experience__content .experience__sections .experience__boxes:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

:root {
  --color-headings: rgb(243, 243, 243);
  --color-primary: rgb(70, 202, 151);
  --color-secondary: rgb(187, 0, 0);
  --color-background: rgba(245, 242, 234, 0.671);
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

.section {
  padding: 4.5rem 0;
  overflow: hidden;
}
.section:nth-of-type(odd) {
  background-color: var(--color-background);
}
.section:first-child {
  background-color: #ffffff;
  padding-top: 0;
}

.typing__animation--1 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 2s ease-in forwards, blink-caret 1s infinite;
}

.typing__animation--2 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 2s ease-in 2s forwards, blink-caret 1s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */